* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background: rgb(252, 244, 232);;
    text-align: center;
}
.title {
    color: palevioletred;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.first-nav {
    text-align: initial;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    list-style: none;
    padding-left: 0;
}
.first-nav li {
    display: inline-block  
}
.first-nav a{
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
    background-color: palevioletred;
    font-size: 1.6rem;
}
.first-nav a:hover {
    color: greenyellow;
}
.first-nav a:active {
    color: palevioletred;
}
.imag {
    width: 35rem;
    height: 40rem;
    border-radius: 20px;
    border: 1rem ridge palevioletred;
    overflow: hidden;
    margin: 0 auto;
}
section div h2 {
    position: sticky;
    font-size: 2.4rem;
}
h2 {
    background: palevioletred;
    color: white;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.3rem solid white; 
    top:5rem;
    margin: 1rem 0;
}
div p {
    color: black; 
    font-size: 1.6rem;
}
section div:nth-child(1) {
    top:5rem;
}
section div:nth-child(2) {
    background: white;
    width: 100%;
    height: 20rem;
    margin: 0 auto;
}
div p:nth-child(4) {
    color: green;
}
::placeholder {
    color: palevioletred;
}
form {
    background: white;
}
button {
    
    background: palevioletred;
}
.container {
    display: grid;
    background: white;
    width: 1000%;
    max-width: 50rem;
    margin: 5rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 25rem;
    padding: 2rem;
    grid-gap: 1rem;
}
.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}